<footer>
    <div class="footer">
        <div class="footer-menu">
            <div class="footer-logo">
                <a href="{{ url_for('homepage') }}" title="Fokus Logiciel état des lieux">
                    <span class="txt-color1">Fokus</span>
                    <span>Logiciel d'état des lieux</span>
                </a>
            </div>
            <div class="footer-items">
                <a rel="nofollow" href="{{ url_for('homepage') }}">Mentions légales</a>
                <a rel="nofollow" href="{{ url_for('homepage') }}">Politique de confidentialité</a>
                <a rel="nofollow" href="{{ url_for('homepage') }}">Gestion des cookies</a>
{#                <a rel="nofollow" href="{{ url_for('homepage') }}">Nous contacter</a>#}
            </div>
        </div>
        <div class="copyright">Copyright 2021 - <a href="https://logilink.fr" target="_blank">Logilink</a></div>
    </div>
</footer>