{% extends 'base.twig' %}

{% block stylesheets %}
    {% webpack_entry_css 'app' %}
{% endblock %}

{% block body %}
    <div class="body">
        <nav class="fixed">
            <div class="nav-header">
                <div class="nav-header-logo">
                    <span class=nav-header-logo-span>{{ session.user[2] }}</span>
                </div>
            </div>
            <div class="nav-mobile">
                <span class="icon-menu"></span>
            </div>

            {% set menu = [
                {
                    'path': url_for('homepage'),
                    'route': 'homepage',
                    'icon': 'home',
                    'label': 'Accueil',
                    'name': 'espace-client'
                },
                {
                    'path': url_for('edl'),
                    'route': 'edl',
                    'icon': 'paste',
                    'label': 'Etats des lieux',
                    'name': 'edls'
                },
                {
                    'path': url_for('edl_create'),
                    'route': 'edl_create',
                    'icon': 'plus',
                    'label': 'Ajouter un état des lieux',
                    'name': 'edl'
                },{
                    'path': url_for('user'),
                    'route': 'user',
                    'icon': 'account',
                    'label': 'Mon compte',
                    'name': 'mon-compte'
                },
                {
                    'path': url_for('logout'),
                    'route': 'logout',
                    'icon': 'logout',
                    'label': 'Se déconnecter',
                    'name': 'logout'
                },
            ] %}
            <div class="nav-body">
                <div class="items">
                    {% for item in menu %}
                        <div class="item">
                            <a href="{{ item.path }}" class="{{ is_current_url(item.route) ? "active" : "" }}" data-name="{{ item.name }}">
                                <span class="icon-{{ item.icon }}"></span>
                                <span>{{ item.label }}</span>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </nav>

        <main>
            <header>
                <div class="header-container">
                    <div class="header-name">
                        <div class="fokus">
                            <span class="txt-color1">Fokus</span>
                            <span>Logiciel d'état des lieux</span>
                        </div>
                        <div class="profil">
                            <span>{{ session.user[4] }} {{ session.user[4] > 1 ? 'crédits restants' : 'crédit restant' }}</span>
                            <div>
                                <a class="btn-icon" href="{{ url_for('logout') }}">
                                    <span class="icon-help"></span>
                                    <span class="tooltip">Besoin d'aide ?</span>
                                </a>
                                <a class="btn-icon" href="{{ url_for('logout') }}">
                                    <span class="icon-logout"></span>
                                    <span class="tooltip">Se déconnecter</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            {% block main_content %}{% endblock %}
        </main>

        {% include 'app/layout/components/footer.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {% webpack_entry_js 'app' %}
{% endblock %}