{% extends 'app/layout/layout.twig' %}

{% block title %}Mon compte {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% webpack_entry_css 'user' %}
{% endblock %}

{% block main_content %}
    <div class="page-title">
        <div class="page-title-container">
            <h1>Mon compte</h1>
        </div>
    </div>

    <div class="main-content">
        <div class="user-container">
            <div class="col-1">
                <div class="user-form">
                    <div class="card">
                        <div class="card-header">
                            {{ session.user[2] | capitalize }} {{ session.user[3] | upper }}
                        </div>
                        <div class="card-body">
                            <form method="POST">
                                <div class="line">
                                    {% include 'app/layout/components/form/input.twig' with {
                                        input_name: 'firstname',
                                        input_label: 'Prénom',
                                        input_value: session.user[2],
                                        input_required: true
                                    } %}
                                </div>
                                <div class="line">
                                    {% include 'app/layout/components/form/input.twig' with {
                                        input_name: 'lastname',
                                        input_label: 'Nom',
                                        input_value: session.user[3],
                                        input_required: true
                                    } %}
                                </div>
                                <div class="line">
                                    {% include 'app/layout/components/form/input.twig' with {
                                        input_name: 'email',
                                        input_label: 'Adresse e-mail',
                                        input_value: session.user[5],
                                        input_required: true
                                    } %}
                                </div>
                                <div class="form-button">
                                    <button type="submit" class="btn btn-warning">Modifier</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="user-downloads">
                    <a href="" class="btn btn-outline-default">
                        <span class="icon-download"></span>
                        <span>Télécharger l'application mobile</span>
                    </a>
                    <a href="" class="btn btn-outline-default">
                        <span class="icon-download"></span>
                        <span>Télécharger la documentation</span>
                    </a>
                </div>

                <div class="user-users">
                    <div class="title">
                        <h2>Utilisateurs</h2>
                        <div class="actions">
                            <a href="" class="btn btn-primary">
                                <span>Ajouter un utilisateur</span>
                            </a>
                        </div>
                    </div>

                    <div class="users-list">
                        <div class="list-header">
                            <div class="item">
                                <div class="col-1">Identifiant</div>
                                <div class="col-2">Utilisateur</div>
                                <div class="col-3"></div>
                                <div class="col-4">Actions</div>
                            </div>
                        </div>
                        <div class="list-items">
                            <div class="item">
                                <div class="col-1">00202558</div>
                                <div class="col-2">
                                    <div>George Tuc</div>
                                    <div class="sub">Gestionnaire</div>
                                </div>
                                <div class="col-3">
                                    <div>Gestionnaire : 001</div>
                                    <div>Courtier : 001A</div>
                                </div>
                                <div class="col-4">
                                    <a href="" class="btn-icon">
                                        <span class="icon-block"></span>
                                        <span class="tooltip">Bloquer</span>
                                    </a>
                                    <a href="" class="btn-icon">
                                        <span class="icon-compose"></span>
                                        <span class="tooltip">Modifier</span>
                                    </a>
                                    <a href="" class="btn-icon">
                                        <span class="icon-delete"></span>
                                        <span class="tooltip">Supprimer</span>
                                    </a>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-1">00202558</div>
                                <div class="col-2">
                                    <div>George Tuc</div>
                                    <div class="sub">Gestionnaire</div>
                                </div>
                                <div class="col-3">

                                </div>
                                <div class="col-4">
                                    <a href="" class="btn-icon">
                                        <span class="icon-block"></span>
                                        <span class="tooltip">Bloquer</span>
                                    </a>
                                    <a href="" class="btn-icon">
                                        <span class="icon-compose"></span>
                                        <span class="tooltip">Modifier</span>
                                    </a>
                                    <a href="" class="btn-icon">
                                        <span class="icon-delete"></span>
                                        <span class="tooltip">Supprimer</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% webpack_entry_js 'user' %}
{% endblock %}