<div class="line">
    {% include 'app/layout/components/form/input.twig' with {
        input_name: input_id ~ 'firstname',
        input_label: 'Prénom',
        input_value: firstname,
        inpit_required: true
    } %}
</div>
<div class="line">
    {% include 'app/layout/components/form/input.twig' with {
        input_name: input_id ~ 'lastname',
        input_label: 'Nom',
        input_value: lastname,
        inpit_required: true
    } %}
</div>
<div class="line">
    {% include 'app/layout/components/form/input.twig' with {
        input_name: input_id ~ 'email',
        input_label: 'Adresse e-mail',
        input_value: email,
        inpit_required: true,
        input_type: 'email',
    } %}
</div>
{% if input_id != "create-" %}
    <div class="line">
        <div class="form-group">
            <div class="alert alert-default-reverse">
                <p>Laissez le champs MOT DE PASSE vide si vous ne souhaitez pas modifier le mot de passe.</p>
            </div>
        </div>
    </div>
{% endif %}
<div class="line">
    <div class="password-rules">
        <p>Règles de création du mot de passe :</p>
        <ul>
            <li>Au moins 12 caractères</li>
            <li>Au moins 1 minuscule</li>
            <li>Au moins 1 majuscule</li>
            <li>Au moins 1 chiffre</li>
            <li>Au moins 1 caractère spécial</li>
        </ul>
    </div>
</div>
<div class="line">
    {% include 'app/layout/components/form/input.twig' with {
        input_name: input_id ~ 'password',
        input_label: 'Mot de passe',
        input_value: password,
        inpit_required: true,
        input_type: 'password'
    } %}
</div>
<div class="line">
    {% include 'app/layout/components/form/input.twig' with {
        input_name: input_id ~ 'passwordConfirm',
        input_label: 'Confirmer le mot de passe',
        input_value: "",
        inpit_required: true,
        input_type: 'password'
    } %}
</div>
<input type="hidden" name="{{ input_id ~ 'username' }}" class="{{ input_id ~ 'username' }}" value="{{ username }}">
<input type="hidden" name="{{ input_id ~ 'userTag' }}" class="{{ input_id ~ 'userTag' }}" value="{{ userTag }}">