{% extends 'app/layout/layout.twig' %}

{% block title %}Liste des locataires {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% webpack_entry_css 'tenant' %}
    {% webpack_entry_css 'fontSize' %}
{% endblock %}

{% block main_content %}
    <div class="page-title">
        <div class="page-title-container">
            <h1>Liste des locataires</h1>
        </div>
    </div>

    <div>
        <div id="tenants" data-donnees="{{ data | json_encode }}"
             data-inventories="{{ inventories | json_encode }}"
             data-rights="{{ session.user[9] }}"
        ></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% webpack_entry_js 'tenant' %}
{% endblock %}