{% set isDefined = edl is defined %}

<form class="edl-form" data-from="{{ from }}" data-url="{{ url_edl_form }}" method="POST">
    <div class="line line-3">
        {% include 'app/layout/components/form/select.twig' with {
            input_name: 'structure',
            input_label: 'Structure',
            input_value: isDefined and edl.inventory.input != 0 ? 1 : 0,
            input_required: true,
            input_choices: [
                {value: 0, label: 'EDL vierge'},
                {value: 1, label: 'Etablir structure'},
                {value: 2, label: 'EDL précédent'}
            ]
        } %}
        {% include 'app/layout/components/form/select.twig' with {
            input_name: 'attribution',
            input_label: 'Attribution',
            input_value: isDefined ? edl.inventory.user_id : session.user[7],
            input_required: true,
            input_choices: users
        } %} {# var users come from controller #}

        {% include 'app/layout/components/form/input.twig' with {
            input_name: 'startDate',
            input_label: 'Prévu le (facultatif)',
            input_value: isDefined and edl.date != "0" ? edl.inventory.date | date('Y-m-d\\TH:i') : '',
            input_type: 'datetime-local'
        } %}
    </div>
    <div class="line">
        {% include 'app/layout/components/form/box.twig' with {
            input_name: 'type',
            input_label: 'Type d\'état des lieux',
            input_value: isDefined ? edl.inventory.type : 0,
            input_choices: [
                {value: 0, label: 'Entrant', name: 'entrant'},
                {value: 1, label: 'Sortant', name: 'sortant'},
            ],
            input_class: 'radiobox-item',
            input_type: 'radio'
        } %}
    </div>

    <div class="line line-select-or-add">
        <div class="form-group input-bien">
            <label>Bien</label>
            {% include 'app/layout/components/form/input_error.twig' with {
                msg: "Veuillez sélectionner ou ajouter un bien."
            } %}
        </div>
        <div class="actions-bien select-or-add {{ isDefined ? "" : "active" }}">
            <div class="btn btn-outline-default btn-select-bien">Sélectionner un bien</div>
            <div class="btn btn-outline-default btn-add-bien">Ajouter un bien</div>
        </div>
        <div class="selected selected-bien {{ isDefined ? "active" : "" }}">
            <div class="card active">
                <div class="btn-remove">
                    <div class="btn-icon btn-remove-bien">
                        <span class="icon-cancel"></span>
                        <div class="tooltip">Déselectionner ce bien</div>
                    </div>
                </div>
                <div class="card-header">
                    <div class="title">
                        <div class="label">
                            <div class="name adr">{{ isDefined ? edl.property.addr1 : "" }}</div>
                            <div class="sub">
                                <span class="zipcode">{{ isDefined ? edl.property.zipcode : "" }}</span>,
                                <span class="city">{{ isDefined ? edl.property.city : "" }}</span>
                            </div>
                        </div>
                        <div>Ref : <span class="ref">{{ isDefined ? edl.property.reference : "" }}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="line line-select-or-add">
        <div class="form-group input-tenants">
            <label>Locataire(s)</label>
            {% include 'app/layout/components/form/input_error.twig' with {
                msg: "Veuillez sélectionner ou ajouter un locataire."
            } %}
        </div>
        <div class="actions-tenants select-or-add active">
            <div class="btn btn-outline-default btn-select-tenants">Sélectionner un/des locataire(s)</div>
            <div class="btn btn-outline-default btn-add-tenant">Ajouter un/des locataire(s)</div>
        </div>
        <div class="selected selected-tenants {{ isDefined and edl.tenants | length > 0 ? "active" : "" }}">
            {% if isDefined %}
                {% for tenant in edl.tenants %}
                    <div class="card active">
                        <div class="btn-remove">
                            <div class="btn-icon btn-remove-tenant" data-id="{{ tenant.id }}">
                                <span class="icon-cancel"></span>
                                <div class="tooltip">Déselectionner ce locataire</div>
                            </div>
                        </div>
                        <div class="card-header">
                            <div class="title">
                                <div class="label">
                                    <div class="name">{{ tenant.first_name }} {{ tenant.last_name | upper }}</div>
                                    <div class="sub">
                                        <div class="adr">{{ tenant.addr1 }}</div>
                                    </div>
                                    <div class="sub">
                                        <span class="zipcode">{{ tenant.zipcode }}</span>
                                        {% if tenant.zipcode and tenant.city %},{% endif %}
                                        <span class="city">{{ tenant.city }}</span>
                                    </div>
                                </div>
                                <div>Ref : <span class="ref">{{ tenant.reference }}</span></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <input type="hidden" name="bien" id="bien" value="{{ isDefined ? edl.property.id }}">
    <input type="hidden" name="tenants" id="tenants" value="">
    <input type="hidden" name="bien-created" id="bien-created" value="">
    <input type="hidden" name="tenants-created" id="tenants-created" value="">

    <div class="form-button">
        <button type="submit" class="btn btn-primary">Ajouter l'état des lieux</button>
    </div>
</form>