{% set isDefined = edl is defined %}

<div class='aside aside-select-bien'>
    <div class="aside-overlay"></div>
    <div class="aside-content">
        <div class="aside-title">
            <span class="title">Sélectionner un bien</span>
            <span class="icon-cancel btn-select-bien"></span>
        </div>
        <div class="list list-select list-select-bien">
            <div class="toolbar">
                <div class="line">
                    {% include 'app/layout/components/form/input.twig' with {
                        input_name: 'searchBien',
                        input_label: 'Rechercher un bien',
                        input_value: '',
                        input_placeholder: 'Recherche par référence, code postal, ville, adresse ou propriétaire.'
                    } %}
                </div>
            </div>
            {% if properties | length > 0 %}
                {% for elem in properties %}
                    <div class="card {{ isDefined and edl.property.id == elem.id ? "active" : "" }}"
                         data-id="{{ elem.id }}" data-bien="{{ elem | json_encode }}"
                    >
                        <div class="card-header">
                            <div class="title">
                                <div class="address">
                                    <div>{{ elem.addr1 }}</div>
                                    {% if elem.type %}<div>Type : {{ elem.type }}</div>{% endif %}
                                    <div class="sub">{{ elem.zipcode }}, {{ elem.city }}</div>
                                    {% if elem.building %}<div>Bâtiment : {{ elem.building }}</div>{% endif %}
                                </div>
                                <div class="ref">Ref : {{ elem.reference }}</div>
                            </div>
                        </div>
                        <div class="card-body">
                            {% include "app/pages/edl/components/property-props.twig" with {property: elem} %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div>Il n'y a aucun bien enregistré.</div>
            {% endif %}
        </div>
    </div>
</div>