{% set isDefined = edl is defined %}

<div class='aside true aside-select-bien'>
    <div class="aside-overlay"></div>
    <div class="aside-content">
        <div class="aside-title">
            <span class="title">Sélectionner un bien</span>
            <span class="icon-cancel btn-select-bien"></span>
        </div>
        <div class="list list-select list-select-bien">
            <div class="toolbar">
                {# Search by ref, zipcode, city, owner #}
            </div>
            {% if properties | length > 0 %}
                {% for elem in properties %}
                    <div class="card {{ isDefined and edl.property.id == elem.id ? "active" : "" }}"
                         data-id="{{ elem.id }}" data-bien="{{ elem | json_encode }}"
                    >
                        <div class="card-header">
                            <div class="title">
                                <div class="address">
                                    <div>{{ elem.addr1 }}</div>
                                    {{ elem.type ? '<div>Type : '~ elem.type ~'</div>' : '' }}
                                    <div class="sub">{{ elem.zipcode }}, {{ elem.city }}</div>
                                    {{ elem.building ? '<div class="sub">'~ elem.building ~'</div>' : '' }}
                                </div>
                                <div class="ref">{{ elem.reference }}</div>
                            </div>
                        </div>
                        <div class="card-body">
                            {{ elem.addr2 ? "<div>Adresse 2 : "~ elem.addr2 ~"</div>" }}
                            {{ elem.addr3 ? "<div>Adresse 2 : "~ elem.addr3 ~"</div>" }}
                            <div class="owner">{{ elem.owner != "" ? "Propriétaire : " ~ elem.owner : "Pas de propriétaire" }}</div>
                            {{ elem.surface > "0" ? '<div class="sub">'~ elem.surface ~' m²</div>' : '' }}
                            {{ elem.room ? '<div class="sub">'~ elem.room ~' pièce'~ (elem.room > 1 ? "s" : "") ~'</div>' : '' }}
                            {{ elem.floor != "0" ? '<div class="sub">'~ elem.floor ~' étage'~ (elem.floor > 1 ? "s" : "") ~'</div>' : '' }}
                            {{ elem.door  ? '<div class="sub">Porte '~ elem.door ~'</div>' : '' }}
                            {{ elem.is_furnished  ? '<div class="sub">Meublé</div>' : '' }}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div>Il n'y a aucun bien enregistré.</div>
            {% endif %}
        </div>
    </div>
</div>