{% extends 'app/pages/edl/template.twig' %}

{% block title %}Liste des états des lieux {{ parent() }}{% endblock %}

{% block main_content %}
    <div class="page-title">
        <div class="page-title-container">
            <h1>Etats des lieux</h1>
            <div class="actions">
                <a href="{{ url_for('edl_create') }}" class="btn btn-primary">
                    <span>Ajouter un état des lieux</span>
                </a>
            </div>
        </div>
    </div>

    <div id="view" data-donnees="{{ "{}" }}"></div>

    <div class="main-content">
        <div class="edl-list">
            <div class="toolbar">
                <a href="{{ url_for('edl', {'status': 'en-cours'}) }}" class="btn {{ is_current_url('edl', {'status': 'en-cours'}) ? "btn-color0" : "btn-outline-default" }}">
                    Etat en cours
                </a>
                <a href="{{ url_for('edl', {'status': 'termine'}) }}" class="btn {{ is_current_url('edl', {'status': 'termine'}) ? "btn-color0" : "btn-outline-default" }}">
                    Etat terminé
                </a>
            </div>
            <div class="toolbar">
                <div class="line">
                    {% include 'app/layout/components/form/input.twig' with {
                        input_name: 'searchEdl',
                        input_label: 'Rechercher un état des lieux',
                        input_value: '',
                        input_placeholder: 'Recherche par référence, code postal, ville, adresse ou propriétaire.'
                    } %}
                </div>
            </div>
            <div class="list">
                {% if data | length > 0 %}
                    {% for year, months in data | sort %}
                        {% for month, item in months | sort %}
                            <div class="list-month">
                                <div class="title">
                                    <div>{{ year == "unknown" ? "Date indéfinie" : (month | monthLongStringFr) ~ " - " ~ year }}</div>
                                    <div><span class="icon-minus"></span></div>
                                </div>

                                <div class="items active">
                                    <div class="list-month-header">
                                        <div class="item">
                                            <div class="col-1">Date</div>
                                            <div class="col-2">Attribution</div>
                                            <div class="col-3">Type</div>
                                            <div class="col-4">Bien</div>
                                            <div class="col-5">Locataire(s)</div>
                                            <div class="col-6">Actions</div>
                                        </div>
                                    </div>

                                    {% for elem in item | sort((a,b) => a.inventory.date <=> b.inventory.date) %}
                                        <div class="item item-{{ elem.inventory.id }}" data-id="{{ elem.inventory.id }}" data-data="{{ elem | json_encode }}">
                                            <div class="col-1">
                                                {% if elem.inventory.date != 0 %}
                                                    <div>
                                                        {{ elem.inventory.date | date('D') | dayShortStringFr }}.
                                                        {{ elem.inventory.date | date('d') }}
                                                        {{ elem.inventory.date | date('n') | monthShortStringFr | lower }}.
                                                        {{ elem.inventory.date | date('Y') }}
                                                    </div>
                                                    <div>{{ elem.inventory.date | date('H\\hi') }}</div>
                                                {% else %}
                                                    <div>Date indéfinie</div>
                                                {% endif %}
                                            </div>
                                            <div class="col-2">
                                                <div>{{ elem.inventory.user.username }}</div>
                                                <div class="sub">{{ elem.inventory.user.first_name }} {{ elem.inventory.user.last_name | upper }}</div>
                                            </div>
                                            <div class="col-3">
                                                <div class="role-type type-{{ elem.inventory.type }}">
                                                    {{ elem.inventory.type == 0 ? "Sortant" : "Entrant"}}
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div style="margin-bottom: 4px;"><u>Référence</u> : {{ elem.property.reference }}</div>
                                                <div>Adresse : {{ elem.property.addr1 }}</div>
                                                {% if elem.property.addr2 %}<div class="sub details">Adresse 2 : {{ elem.property.addr2 }}</div>{% endif %}
                                                {% if elem.property.addr3 %}<div class="sub details">Adresse 3 : {{ elem.property.addr3 }}</div>{% endif %}
                                                {% if elem.property.type %}<div>Type : {{ elem.property.type }}</div>{% endif %}
                                                {% if elem.property.building %}<div class="sub details">Bâtiment : {{ elem.property.building }}</div>{% endif %}
                                                {% if elem.property.owner %}
                                                    <div>Propriétaire : {{ elem.property.owner }}</div>
                                                {% endif %}
                                                {% if elem.property.surface > "0" %}
                                                    <div class="sub details">{{ elem.property.surface }}m²</div>
                                                {% endif %}
                                                {% if elem.property.room %}
                                                    <div class="sub details">{{ elem.property.room }} {{ elem.property.room > 1 ? "pièces" : "piece" }}</div>
                                                {% endif %}
                                                {% if elem.property.surface != "0" %}
                                                    <div class="sub details">{{ elem.property.floor }} {{ elem.property.room > 1 ? "ème étage" : "er étage" }}</div>
                                                {% endif %}
                                                {% if elem.property.door %}
                                                    <div class="sub details">Porte : {{ elem.property.door }}</div>
                                                {% endif %}
                                                {% if elem.property.is_furnished %}
                                                    <div class="sub details">Meublé</div>
                                                {% endif %}
                                            </div>
                                            <div class="col-5">
                                                {% if elem.tenants | length > 0 %}
                                                    <div class="tenant-title"><u>Locataires</u> : </div>
                                                    {% for tenant in elem.tenants %}
                                                        <div>
                                                            <span class="icon-rec"></span>
                                                            {{ tenant.first_name | capitalize }} {{ tenant.flast_name | upper }}
                                                        </div>
                                                        <div class="details tenant-details">
                                                            <div class="sub"><u>Référence</u> : {{ tenant.reference }}</div>
                                                            {% if tenant.addr1 %}<div class="sub">Adresse : {{ tenant.addr1 }}</div>{% endif %}
                                                            {% if tenant.addr2 %}<div class="sub">Adresse 2 : {{ tenant.addr1 }}</div>{% endif %}
                                                            {% if tenant.addr3 %}<div class="sub">Adresse 3 : {{ tenant.addr1 }}</div>{% endif %}
                                                            {% if tenant.zipcode or tenant.city %}
                                                                <div class="sub">
                                                                    {% if tenant.zipcode %}<span>{{ tenant.zipcode }}</span>{% endif %}
                                                                    {% if tenant.zipcode and tenant.city %},{% endif %}
                                                                    {% if tenant.city %}<span>{{ tenant.city }}</span>{% endif %}
                                                                </div>
                                                            {% endif %}
                                                            {% if tenant.email %}<div class="sub">{{ tenant.email }}</div>{% endif %}
                                                            {% if tenant.phone %}<div class="sub">{{ tenant.phone }}</div>{% endif %}
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                            <div class="col-6">
                                                <button class="btn-icon btn-details" data-id="{{ elem.inventory.id }}">
                                                    <span class="icon-show"></span>
                                                    <span class="tooltip">Détails</span>
                                                </button>
                                                {% if is_current_url('edl', {'status': 'termine'}) %}
                                                    <a href="{{ url_for('edl_pdf', {'uid': elem.inventory.uid}) }}" class="btn-icon">
                                                        <span class="icon-file"></span>
                                                        <span class="tooltip">Voir le PDF</span>
                                                    </a>
                                                {% else %}
                                                    <a href="{{ url_for('edl_update', {'id': elem.inventory.id}) }}" class="btn-icon">
                                                        <span class="icon-compose"></span>
                                                        <span class="tooltip">Modifier</span>
                                                    </a>
                                                    <button data-url="{{ url_for('edl_delete', {'id': elem.inventory.id}) }}" data-id="{{ elem.inventory.id }}" class="btn-icon btn-delete">
                                                        <span class="icon-delete"></span>
                                                        <span class="tooltip">Supprimer</span>
                                                    </button>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% else %}
                    <div class="alert alert-default">Aucun état des lieux {{ is_current_url('edl', {'status': 'en-cours'}) ? "en cours" : "terminé"}} enregistré.</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}