{% extends 'app/layout/layout.twig' %}

{% block title %}Etat des lieux {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% webpack_entry_css 'edl' %}
{% endblock %}

{% block main_content %}
    <div class="page-title">
        <div class="page-title-container">
            <h1>Etat des lieux</h1>
            <div class="actions">
                <a href="" class="btn btn-primary">
                    <span>Ajouter un état des lieux</span>
                </a>
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="edl-list">
            <div class="list">
                {% for year, months in data %}
                    {% for month, item in months %}
                        <div class="list-month">
                            <div class="title">{{ month }} - {{ year }}</div>

                            {% for elem in item %}
                                <div class="item">
                                    <div>{{ elem.inventory.id }}</div>
                                    <div class="col-1">
                                        <div>{{ elem.inventory.date | date('D\\. d M\\. Y') | capitalize }}</div>
                                        <div>{{ elem.inventory.date | date('H\\hi') }}</div>
                                    </div>
                                    <div class="col-2">
                                        <div></div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>

        <div id="view" data-donnees="{{ donnees }}"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% webpack_entry_js 'edl' %}
{% endblock %}