{% extends 'app/layout/layout.twig' %}

{% block title %}Etat des lieux {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% webpack_entry_css 'edl' %}
{% endblock %}

{% block main_content %}
    <div class="page-title">
        <div class="page-title-container">
            <h1>Etat des lieux</h1>
            <div class="actions">
                <a href="" class="btn btn-primary">
                    <span>Ajouter un état des lieux</span>
                </a>
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="edl-list">
            <div class="list">
                {% for key, months in data %}
                    <div class="list-year">
                        <div>{{ key }}</div>

                        {% for key, item in months %}
                            <div class="list-months">
                                <div>{{ key }}</div>

                                {% for elem in item %}
                                    <div class="list-data">
                                        <div>{{ elem.inventory.id }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div id="view" data-donnees="{{ donnees }}"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% webpack_entry_js 'edl' %}
{% endblock %}