{% extends 'app/pages/edl/template_form.twig' %}

{% block title %}Modifier un état des lieux {{ parent() }}{% endblock %}

{% block edl_content %}
    <div class="page-title">
        <div class="comeback" data-id="{{ edl.inventory.id }}" data-url="{{ url_for('edl', {'status': 'en-cours'}) }}">
            <button class="btn btn-outline-default">
                <span class="icon-arrow-left"></span>
                <span>Retour à la liste</span>
            </button>
        </div>
        <div class="page-title-container">
            <h1>Modifier référence : {{ edl.property.reference }}</h1>
        </div>
    </div>

    <div class="main-content">
        {% include 'app/pages/edl/components/form.twig' with {
            edl: edl,
            url_edl_form: url_for('edl_update', {'id': edl.inventory.id}),
            from: "update"
        }%}
    </div>

    {{ parent() }}
{% endblock %}