<div class="form-group input-{{ input_name }}">
    <label for="{{ input_name }}">{{ input_label }}</label>

    <input type="{{ input_type is defined ? input_type : "text" }}"
           name="{{ input_name }}" id="{{ input_name }}" class="{{ input_name }}"
           value="{{ input_value }}" placeholder="{{ input_placeholder is defined ? input_placeholder : "" }}"
            {{ input_required is defined ? "required" : "" }}
    >

    {% include 'app/layout/components/form/input_error.twig' %}
</div>